.md-nav.md-nav--secondary {
    font-size:.6rem;
}

.md-typeset h3 {
    margin: 2.6em 0 .8em;
    font-weight:600;
}

type-table {
    background:slateblue;
}

type-table::after{
    content: "#table";

}

type-timechart {
    background:teal;
}

type-timechart::after {
    content: "#timechart";
}

type-barchart {
    background:deeppink;
}

type-barchart::after {
    content: "#barchart";
}

type-areachart {
    background:darkorange;
}

type-areachart::after {
    content: "#areachart";
}

type-piechart {
    background:deepskyblue;
}

type-piechart::after {
    content: "#piechart";
}

type-table, 
type-timechart,
type-barchart,
type-areachart,
type-piechart
{
    display:inline-block;
    font-size:.85em;
    font-weight:bold;
    color:white;
    padding:5px;
}